---
import AuthLayout from "@/layouts/AuthLayout.astro";
import { RegisterForm } from "@/components/auth/RegisterForm";

export const prerender = false;
---

<AuthLayout title="Create account - FilmFinder">
  <main class="container mx-auto px-4 py-8">
    <div class="min-h-[calc(100vh-16rem)] flex items-center justify-center">
      <RegisterForm client:load onSubmit={(email, password, confirmPassword) => {}} />
    </div>
  </main>
</AuthLayout>
